.label {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  font-size: 20px;
  background: linear-gradient(3deg, #000000, #585858);
  color: #fff;
  border-radius: 4px;
}

.input {
  margin-top: 4px;
  box-sizing: border-box;
  width: 200px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
