.form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid black;
  border-radius: 4px;
  background: linear-gradient(3deg, #000000, #585858);
  color: rgb(255, 255, 255);
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 20px;
}
.input {
  width: 260px;
  margin-top: 4px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 250ms linear, color 250ms linear;
}

.button:hover,
.button:focus {
  background-color: rgb(31, 31, 31);
  color: #fff;
}

.button:active {
  background-color: rgb(152, 255, 152);
}
